#header {
    position: absolute; 
    top: 55px; 
    left: 20px; 
}

#header .headerTitle {
	font-size: 12pt;
	font-weight: bold; 
	font-family: "Lucida Grande", Arial, sans-serif; 
}

#content {
	position: absolute;
	top: 90px;
	left: 20px; 
	
	width: 90%;
	
	font-size: 9pt; 
	line-height: 12pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	text-decoration: none; 
}

#linkbox {
    position: relative; 
    top: 20px; 
    width: 100%;
}

#backlink {
    position: absolute; 
    left: 0px; 
}

#forwardLink {
    position: absolute; 
    right: 0px; 
}

#taskbox {
	background-color: #eee;
	list-style: decimal;
	list-style-position: outside;
	padding-top: 12px;
	padding-bottom: 12px;
	border: solid 1px #444
}

#taskbox li {
    padding: 0 0 5px 0; 
}

#topicBox {
    position: absolute;
    float: left; 
    top: 0px; 
    left: 0px; 
    width: 130px; 
    padding-left: 0px; 
}
		  
#topicBox ul {
    padding: 0 0 0 0; 
    margin: 0 0 0 0; 
}

#topicBox ul li {
    list-style: none;
    padding: 0 0 5px 0; 
}

#infoBox {
    position: absolute; 
    top: 0px;
    left: 180px; 
    margin-right: 20px; 
    width: auto; 
}

#infoBox ul {
    padding: 0 0 0 0; 
    margin: 0 0 0 0; 
}

#infoBox ul li {
    list-style: none;
    padding: 0 0 5px 0; 
}
