{
	VT_GROUP_NOTIFICATIONS = 
	{
		name		= "Navigation"; 
	};
	
	VT_GROUP_DESKTOPS = 
	{
		name		= "Arbeitsbereichsverwaltung";
	};
	
	VT_GROUP_INSPECTION = 
	{
		name		= "Betrachter";
	}; 
	
	VT_REQUEST_CHANGE_DESKTOP =   
	{
		name		= "Gehe zu '%@'"; 
		description = "Zeigt den Desktop mit dem Namen '%@'";
	}; 
	
	VT_REQUEST_CHANGE_DESKTOP_BACK = 
	{
		name		= "Letzter Arbeitsbereich"; 
		description	= "Wechselt zum zuletzt gezeigten Desktop."; 
	}; 
	
	VT_REQUEST_CHANGE_DESKTOP_SNAPBACK = 
	{
		name		= "Gehe zum Snapback-Desktop"; 
		description = "Wechselt zum Snapback-Desktop."; 
	};
	
	VT_REQUEST_SET_DESKTOP_SNAPBACK = 
	{
		name		= "Markiere als Snapback-Desktop"; 
		description = "Markiert den gezeigten Desktop als Snapback-Desktop."; 
	}; 
	
	VT_REQUEST_CHANGE_DESKTOP_TO_NEXT =
	{
		name		= "Gehe nach rechts";
		description = "Shows the desktop located to the right of the currently shown desktop"; 
	};
	
	VT_REQUEST_CHANGE_DESKTOP_TO_PREV =
	{
		name		= "Gehe nach links";
		description = "Shows the desktop located to the left of the currently shown desktop";
	};
	
	VT_REQUEST_CHANGE_DESKTOP_TO_ABOVE =
	{
		name		= "Gehe nach oben";
		description = "Wechselt zum Desktop oberhalb des gerade gezeigten Desktops.";
	};
	
	VT_REQUEST_CHANGE_DESKTOP_TO_BELOW =
	{
		name		= "Gehe nach unten";
		description = "Wechselt zum Desktop unterhalb des gerade gezeigten Desktops.";
	};
	
	VT_REQUEST_SELECT_DESKTOP = 
	{
		name		= "Pager einblenden"; 
		description = "Blendet den Pager zum Wechseln des gezeigten Desktops ein. Der Pager schließt automatisch nach loslassen einer Kommandotaste.";
	};
	
	VT_REQUEST_SELECT_DESKTOP_PAGER = 
	{
		name		= "Pager permanent einblenden"; 
		description	= "Blendet den Pager zum Wechseln des gezeigten Desktops ein. Der Pager bleibt geöffnet solange kein anderes Fenster den Fokus erhält."; 
	};
	
	VT_REQUEST_INSPECT_DESKTOPS = 
	{
		name		= "Betrachte verfügbare Desktops";
		description = "Erlaubt Änderung von Desktopnamen, der Reihenfolge und Löschen/Hinzufügen von Desktops.";
	};
	
	VT_REQUEST_INSPECT_DESKTOP = 
	{
		name		= "Betrachte gezeigten Desktop"; 
		description = "Erlaubt Änderung des Desktopnamens und zeigt aktive Applikationen und deren Fenster."; 
	};
	
	VT_REQUEST_INSPECT_PREFERENCES = 
	{
		name		= "Betrachte Einstellungen"; 
		description = "Zeigt den Einstellungendialog."; 
	}; 
	
	VT_REQUEST_TOGGLE_STATUSBAR_MENU = 
	{
		name		= "Zeige/Verstecke Menü";
		description	= "Zeigt oder versteckt das Statusbar Menü"; 	
	}; 
	
	VT_REQUEST_DELETE_DESKTOP = 
	{
		name		= "Entferne gezeigten Desktop";
		description = "Entfernt den gezeigten Desktop. Alle aktiven Applikationen und deren Fenster werden auf einen anderen Desktop verschoben.";
	};
	
	VT_REQUEST_DISPLAY_OVERLAY = 
	{
		name		= "Fenstermanipulator einblenden"; 
		description = "Erlaubt das verschieben des Fensters unter dem Mauszeiger auf einen anderen Desktop."; 
	}; 
}