<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VTPluginPreferences</string>
	<key>CFBundleIconFile</key>
	<string>iconExtension.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.virtue.preferences.VTPluginPreferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSMainNibFile</key>
	<string>VTPluginPreferences</string>
	<key>NSPrincipalClass</key>
	<string>VTPluginPreferencesController</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Extensions</string> 
	<key>VTPreferencePaneHelpText</key>
	<string>Configure installed Extensions</string>
</dict>
</plist>
