<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vtPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iconExtension</string>
			<key>CFBundleTypeName</key>
			<string>Focus Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>iconVirtue</string>
	<key>CFBundleIdentifier</key>
	<string>com.tonyarnold.focus.Focus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FOCU</string>
	<key>CFBundleVersion</key>
	<string>0.6</string>
	<key>NSMainNibFile</key>
	<string>Virtue</string>
	<key>NSPrincipalClass</key>
	<string>VTApplication</string>
	<key>LSUIElement</key>
	<string>1</string>
</dict>
</plist>
