<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VTDesktopNamePrimitive</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.virtue.plugins.VTPluginDesktopNamePrimitive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Desktop Name Primitive</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>VTPluginDesktopNamePrimitive</string>

	<key>VTPluginDisplayName</key>
	<string>Desktop Name Primitive</string>
	<key>VTPlugin</key>
	<dict>
		<key>type</key>
		<string>VTObjectiveC</string>
		<key>name</key>
		<string>Desktop Name Primitive</string>
		<key>author</key>
		<string>Thomas Staller, Virtue project</string>
		<key>hidden</key>
		<true/>
	</dict>
</dict>
</plist>
