<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>VTDesktopTemplatePreferences</string>
	<key>CFBundleIconFile</key>
	<string>imagePreferencesPagers.tiff</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.virtue.preferences.VTDesktopTemplatePreferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>VTDesktopTemplatePreferences</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Desktop Template</string>
	<key>NSPrincipalClass</key>
	<string>VTDesktopTemplatePreferences</string>
	<key>VTPreferencePaneHelpText</key>
	<string>Desktop appearance template setup</string>
</dict>
</plist>
